$c-main: #04BF94;
$c-gray: #91A0B6;

@mixin container {
  width: 1074px;
  margin: 0 auto;
}

.title-section {
  @include container;
  &__content {
    padding: 56px;
    background-color: #04BF9429;
    border-radius: 16px;
  }

  &__title {
    color: $c-main;
  }

  &__temperature {
    font-size: 18px;
    line-height: 27px;  
    font-weight: 700;
  }

  &__search-field {
    width: 522px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 0.470434px 2.21381px rgba(0, 0, 0, 0.0196802);
    color: $c-gray;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;

    &::placeholder {
      color: $c-gray;
    }
  }
}