.posts-top {
  &__content {
    @include container;
  }

  &__title {
    margin-bottom: 16px;
    color: $c-gray;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;

    @include onMobile {
      margin-bottom: 14px;
    }
  }

  &__list {
    // margin-bottom: 16px;
    padding-bottom: 56px;
    // border-bottom: 1px solid #C4C4C4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    @include onMobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__post:not(:last-child) {
    @include onMobile {
      margin-bottom: 56px;
    }
  }
}