$c-background: #f6f6f6;
$c-dark-gray: #262626;
$c-main: #04BF94;
$c-white: #fff;
$c-main: #04BF94;
$c-gray: #91A0B6;
$c-background: #f6f6f6;
$c-light-gray: #ADB8C8;
$c-medium-gray: #78787A;

$tansition-speed: 0.25s;